<!doctype html>

<html>
<head>
    <title>Register Bluetooth</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../components/my-ble-list.html">



    <style>
        body {padding-top:80px;}
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h2 id="title">Register Bluetooth</h2>
        <my-ble-list></my-ble-list>
    </div>
</div>
<script>
</script>
</div>
</div>
</body>