<!doctype html>
<html>
<head>
    <title>Add Component</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--<link rel="import" href="/static/webcomponentsjs/webcomponents-lite.min.js">-->
    <!--<link rel="import" href="/static/polymer/polymer.html">-->
    <link rel="import" hrer="/components/mylistbutton.html">
    <style>
        body {padding-top:80px;}
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <my-list-button url="\getUnregisterdBluetooth" field1=bleName table-name="" buttonurl="" icon="none" ></my-list-button>
    </div>
</div>
</body>