<script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/iron-list/iron-list.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<!--<my-list-button url="" field1=username table-name="" buttonurl="" icon="" ></my-list-button>-->
<dom-module id="my-list-button">
    <style>

        #listItem{
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            margin: 1px;
            width: 80%;
            position:inherit;
            /*float:left;*/

        }
        /*paper-icon-button{*/
            /*max-resolution: 5px;*/
            /*float:left;*/
        /*}*/
        template{position: inherit;
        background-color: #00b8d4}
    </style>
    <template>

        <div id="list" onload="_hideButton()">
            <iron-ajax url=/getReminders last-response='{{data}}'  auto loading='{{loading}}' method='GET'></iron-ajax>
            <template is="dom-repeat" items="[[data]]" as="item" >
                <paper-item >
                <div role="listbox" on-tap="_clicked" id="listItem">

                        {{item.description}}</br>
                        Show {{item.condition}}</br>
                        {{item.hour.from}} - {{item.hour.to}}</br>



                </div>
                    <paper-icon-button id="button" icon=remove-circle on-tap="_buttonClick"></paper-icon-button>
                    </paper-item>



            </template>

        </div>
    </template>
    <script>


        (function () {
            'use strict';
            Polymer({
                is: 'my-list-button',
                properties: {
                    acc: {
                        type: String,
                        notify: true,
                        observer: '_acc'
                    },

                    field1: {
                        type: String,
                        notify: true
                    },

                    tableName:{
                        type:String,
                        notify: true
                    },
                    icon:{
                        type:String,
                        notify:true
                    },
                    buttonurl:{
                        type:String,
                        notify: true

                    },
                    selected:{
                        notify:true,
                        type:Object
                    }

                },






                _buttonClick: function(e){
                    var obj = e.model.__data__.item;
                    this.selected=obj;

                    console.log(this.selected);
//                    var id=obj._id;
//                    var url = "/"+this.buttonurl+"/"+id;
//                    console.log(url);


                },

                _clicked:function(e){
                    var obj = e.model.__data__.item;
                    this.selected=obj;
                    console.log(this.selected);
                }



            })
        })();
    </script>
</dom-module>
